.button {
    background-color: rgba(0, 0, 0, 0.15);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.button:active {
    translate: 5px 0;
    transition-duration: 50ms;
}

.button:hover {
    translate: 5px 0;
    transition-duration: 50ms;
}

.bg-accent {
}

.bg-primary {
}

.bg-secondary {
}

.button-circle {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    -unity-font-style: bold;
    background-color: rgba(0, 0, 0, 0.05);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    color: rgb(255, 255, 255);
    border-left-color: rgb(45, 54, 19);
    border-right-color: rgb(45, 54, 19);
    border-top-color: rgb(45, 54, 19);
    border-bottom-color: rgb(45, 54, 19);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 40px;
    height: 40px;
}

.button-circle:active {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-color: rgba(0, 0, 0, 0.31);
    border-top-color: rgba(0, 0, 0, 0.31);
    border-right-color: rgba(0, 0, 0, 0.31);
    border-bottom-color: rgba(0, 0, 0, 0.31);
}

.icon {
    width: 25px;
    height: 25px;
}

.text-secondary {
    color: rgb(0, 0, 0);
}

.text-shadow {
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.text-primary {
    color: rgb(255, 255, 255);
}

.transparent {
    background-color: rgba(0, 0, 0, 0);
}

.ava {
    width: 35px;
    height: 35px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.button-close {
    font-size: 22px;
    -unity-text-align: middle-center;
    -unity-font-style: bold;
}

.button-user {
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -unity-font-style: normal;
}

.button-circle_long {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    -unity-font-style: bold;
    background-color: rgba(0, 0, 0, 0.05);
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    color: rgb(255, 255, 255);
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 40px;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    overflow: visible;
}

.button-circle_long:active {
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-color: rgba(0, 0, 0, 0.31);
    border-top-color: rgba(0, 0, 0, 0.31);
    border-right-color: rgba(0, 0, 0, 0.31);
    border-bottom-color: rgba(0, 0, 0, 0.31);
    scale: 0.9 0.9;
    transition-duration: 50ms;
    transition-property: scale;
}

.progress-bar__box {
}

.progress-bar {
}

.bg-opacity50 {
    background-color: rgba(0, 0, 0, 0.2);
}

.button-success {
}

.button-accent {
}

.bg-tint-secondary {
}

.button-rectangle {
    -unity-font-style: bold;
    background-color: rgba(0, 0, 0, 0.05);
    color: rgb(255, 255, 255);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 40px;
    height: 40px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.button-rectangle:active {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    scale: 0.9 0.9 0;
    transition-property: scale;
    transition-duration: 50ms;
}
