.health-bar__background {
    align-items: flex-start;
    justify-content: center;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    -unity-background-scale-mode: stretch-to-fill;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    height: 10px;
}

.health-bar__progress {
    background-image: url("project://database/Assets/Sprites/boxWhite.png?fileID=21300000&guid=d16f0c3d0f7443349a434c8ca2e038a2&type=3#boxWhite");
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
    min-width: 0;
    max-width: 100%;
    width: 100%;
    -unity-background-image-tint-color: rgb(171, 19, 19);
}

.health-bar__title {
    color: rgb(255, 255, 255);
    font-size: 16px;
    -unity-font-style: bold;
    text-overflow: ellipsis;
    flex-grow: 1;
    flex-shrink: 1;
}

.health-bar__label {
    color: rgb(255, 255, 255);
}
